<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'proforma', :plugin => 'proforma', media: 'all' %>
<% end %>
<h2>Agregar miembro</h2>
<div>
  <%= form_for @employee do |f| %>
    <%= f.text_field :hour_rate %>
    <%= f.text_field :assigned_hours %>
    <%= f.text_area :comment %>
    <%= f.submit "Create" %>
  <% end %>
</div>
