<!-- Stylesheet -->
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'proforma', :plugin => 'proforma', media: 'all' %>
<% end %>
<!-- Select box users -->
<div class="select-user">
  <%= form_with do %>
    <%= hidden_field_tag(:project_id, @project[:id]) %>
    <label class="label-users" for="users">Agregar nuevo miembro al proyecto:</label>
    <%= select_tag(:user_id, options_for_select(@users_map)) %>
    <span> <%= button_tag "Add", :action => 'new_project_assigned_user' %> </span>
  <% end %>
</div>
<br/>
<br/>
<div class="display-members">
  <table class="table-members">
    <tbody class="content-members">
      <thead>
        <tr>
          <th>Miembro</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Rate</th>
          <th>Horas asignadas</th>
          <th>Comentario</th>
          <th>Acci&oacute;n</th>
        </tr>
      </thead>
      <% for @empleado in @empleados %>
        <tr>
          <%= form_with(url: "proforma/update_project_assigned_user", method: "put", onsubmit: "getContent()") do %>
            <!-- PARAMS -->
            <!-- TODO buscar una manera de solo enviar los campos que fueron editados -->
            <td class="table-user-name" id="table-user-name">
              <input id="username" name="username" type="text" value="<%= @empleado.user %>"/><%= @empleado.user %>
            </td>
            <td class="table-start-date" id="table-start-date">
              <input id="startdate" name="startdate" type="text"/><%= @empleado.start_date %>
            </td>
            <td class="table-end-date" id="table-end-date">
              <input id="enddate" name="enddate" type="text"/><%= @empleado.end_date %>
            </td>
            <td class="table-hour-rate" id="table-hour-rate">
              <input id="hourrate" name="hourrate" type="text"/><%= @empleado.hour_rate %>
            </td>
            <td class="table-assigned-hours" id="table-assigned-hours">
              <input id="hours" name="hours" type="text"/><%= @empleado.assigned_hours %>
            </td>
            <td class="table-comment" id="table-comment">
              <input id="comment" name="comment" type="text"/><%= @empleado.comment %>
            </td>
            <td class="table-buttons">
              <button class="button-edit">Edit</button>
              <span>
                <button class="button-ok">Ok</button>
                <button class="button-cancel">Cancel</button>
                <%= button_tag "Save", data: { confirm: "Are you sure?" }, class: "button-save" %>
              </span>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Obtener contenido de los campos editables -->
<script type="text/javascript">
  function getContent(){
    document.getElementById("comment").value = document.getElementById("table-comment").innerHTML;
  }
</script>
<!-- Manejo del contenido editable de la tabla -->
<script type="text/javascript">
  $(document).find('.button-ok').hide();
  $(document).find('.button-cancel').hide();
  
  $(document).on('click', '.button-edit', function () {
  
    var tr = $(this).closest('tr');
    tr.find('.button-ok').show();
    tr.find('.button-cancel').show();
    tr.find('.button-edit').hide();
    tr.find('.button-save').hide();
  
    tr.find('.table-start-date').attr('contenteditable','true');
    tr.find('.table-end-date').attr('contenteditable','true');
    tr.find('.table-hour-rate').attr('contenteditable','true');
    tr.find('.table-assigned-hours').attr('contenteditable','true');
    tr.find('.table-comment').attr('contenteditable','true');
    $(this).focus();
  
    //Guardar los datos originales
    tr.find('.table-start-date').attr('original_entry', $(this).html());
    tr.find('.table-end-date').attr('original_entry', $(this).html());
    tr.find('.table-hour-rate').attr('original_entry', $(this).html());
    tr.find('.table-assigned-hours').attr('original_entry', $(this).html());
    tr.find('.table-comment').attr('original_entry', $(this).html());
  })
  
  $(document).on('click', '.button-ok', function () {
    var tr = $(this).closest('tr');
    tr.find('.button-ok').hide();
    tr.find('.button-cancel').hide();
    tr.find('.button-edit').show();
    tr.find('.button-save').show();
  
    tr.find('.table-start-date').attr('contenteditable','false');
    tr.find('.table-end-date').attr('contenteditable','false');
    tr.find('.table-hour-rate').attr('contenteditable','false');
    tr.find('.table-assigned-hours').attr('contenteditable','false');
    tr.find('.table-comment').attr('contenteditable','false');
  
    // TODO se debe habilitar el boton Save
  
    $(this).focus();
  })
  
  $(document).on('click', '.button-cancel', function () {
    var tr = $(this).closest('tr');
    tr.find('.button-ok').hide();
    tr.find('.button-cancel').hide();
    tr.find('.button-edit').show();
    tr.find('.button-save').show();
  
    tr.find('.table-start-date').attr('contenteditable','false');
    tr.find('.table-end-date').attr('contenteditable','false');
    tr.find('.table-hour-rate').attr('contenteditable','false');
    tr.find('.table-assigned-hours').attr('contenteditable','false');
    tr.find('.table-comment').attr('contenteditable','false');
  
    $(this).focus();
  
  
    // TODO debe eliminar lo que se ingreso o cambio si se presiona el boton Cancel
    tr.find('.table-start-date').html($(this).attr('original_entry'));
    tr.find('.table-end-date').html($(this).attr('original_entry'));
    tr.find('.table-hour-rate').html($(this).attr('original_entry'));
    tr.find('.table-assigned-hours').html($(this).attr('original_entry'));
    tr.find('.table-comment').html($(this).attr('original_entry'));
  })
</script>
