<div>
  <h2 class="title-manage-members">Manage members</h2>
</div>
<!-- Stylesheet -->
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'proforma', :plugin => 'proforma', media: 'all' %>
<% end %>
<!-- Select box users -->
<div class="select-user">
  <%= form_with do %>
    <%= hidden_field_tag(:project_id, @project[:id]) %>
    <label class="label-users" for="users">Agregar nuevo miembro al proyecto:</label>
    <%= select_tag(:user_id, options_for_select(@users_map)) %>
    <span> <%= button_tag "Add", :action => 'new_project_assigned_user' %> </span>
  <% end %>
</div>
<br/>
<br/>
<div class="display-members">
  <table class="table-members">
    <tbody class="content-members">
      <thead>
        <tr>
          <th class="miembro">Miembro</th>
          <th class="fechainicio">Fecha Inicio</th>
          <th class="fechafin">Fecha Fin</th>
          <th class="rate">Rate</th>
          <th class="hours">Horas asignadas</th>
          <th class="comentario">Comentario</th>
          <th class="accion">Acci&oacute;n</th>
        </tr>
      </thead>
      <% for empleado in @empleados %>
        <tr class="row-data">
          <%= form_with(url: "proforma/update_project_assigned_user", method: "put") do %>
            <%= hidden_field_tag(:project_id, @project[:id]) %>
            <!-- PARAMS -->
            <!-- TODO buscar una manera de solo enviar los campos que fueron editados -->
            <td class="table-user-name">
              <input id="user" name="user" class="user" type="text" readonly value="<%= empleado.user %>">
            </td>
            <td class="table-start-date">
              <input id="start_date" name="start_date" class="start_date" type="text" readonly value="<%= empleado.start_date %>">
            </td>
            <td class="table-end-date">
              <input id="end_date" name="end_date" class="end_date" type="text" readonly value="<%= empleado.end_date %>">
            </td>
            <td class="table-hour-rate">
              <input id="hour_rate" name="hour_rate" class="hour_rate" type="text" readonly value="<%= empleado.hour_rate %>">
            </td>
            <td class="table-assigned-hours">
              <input id="assigned_hours" name="assigned_hours" class="assigned_hours" type="text" readonly value="<%= empleado.assigned_hours %>">
            </td>
            <td class="table-comment">
              <input id="comment" name="comment" class="comment-members" type="text" readonly value="<%= empleado.comment %>">
            </td>
            <td class="table-buttons">
              <span>
                <button class="button-edit">Edit</button>
                <button class="button-ok">Ok</button>
                <button class="button-cancel">Cancel</button>
                <%= button_tag "Save", data: { confirm: "Are you sure?" }, class: "button-save" %>
              </span>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Manejo del contenido editable de la tabla -->
<script type="text/javascript">
  $(document).find('.button-ok').hide();
  $(document).find('.button-cancel').hide();
  
  $(document).on('click', '.button-edit', function (event) {
    event.preventDefault();
  
    var tr = $(this).closest('tr');
    tr.css("background-color", "#ccc");
  
    tr.find('.button-ok').show();
    tr.find('.button-cancel').show();
    tr.find('.button-edit').hide();
    tr.find('.button-save').hide();
  
    tr.find('.start_date').removeAttr("readonly");
    tr.find('.end_date').removeAttr("readonly");
    tr.find('.hour_rate').removeAttr("readonly");
    tr.find('.assigned_hours').removeAttr("readonly");
    tr.find('.comment-members').removeAttr("readonly");
  
    $(this).focus();
  
  
    //Guardar los datos originales
    //TODO no anda aun
    tr.find('.row-data').each(function (index, val) {
      $(this).attr('original-entry', $(this).html());
    });
  })
  
  $(document).on('click', '.button-ok', function (event) {
    event.preventDefault();
  
    var tr = $(this).closest('tr');
    tr.css("background-color", "white");
  
    tr.find('.button-ok').hide();
    tr.find('.button-cancel').hide();
    tr.find('.button-edit').show();
    tr.find('.button-save').show();
  
    tr.find('.start_date').attr("readonly", true);
    tr.find('.end_date').attr("readonly", true);
    tr.find('.hour_rate').attr("readonly", true);
    tr.find('.assigned_hours').attr("readonly", true);
    tr.find('.comment-members').attr("readonly", true);
  
    // TODO se debe habilitar el boton Save
    $(this).focus();
  })
  
  $(document).on('click', '.button-cancel', function (event) {
    event.preventDefault();
  
    var tr = $(this).closest('tr');
    tr.css("background-color", "white");
  
    tr.find('.button-ok').hide();
    tr.find('.button-cancel').hide();
    tr.find('.button-edit').show();
    tr.find('.button-save').show();
  
    tr.find('.start_date').attr("readonly", true);
    tr.find('.end_date').attr("readonly", true);
    tr.find('.hour_rate').attr("readonly", true);
    tr.find('.assigned_hours').attr("readonly", true);
    tr.find('.comment-members').attr("readonly", true);
  
    $(this).focus();
  
    // TODO debe eliminar lo que se ingreso o cambio
    tr.find('.row-data').each(function (index, val) {
      $(this).html( $(this).attr('original-entry') );
    });
  })
</script>
