<!-- Stylesheet -->
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'proforma', :plugin => 'proforma', media: 'all' %>
<% end %>
<!-- Select box users -->
<div class="select-user">
  <%= form_with do %>
    <%= hidden_field_tag(:project_id, @project[:id]) %>
    <label class="label-users" for="users">Agregar nuevo miembro al proyecto:</label>
    <%= select_tag(:user_id, options_for_select(@users_map)) %>
    <span> <%= button_tag "Add", :action => 'new_project_assigned_user' %> </span>
  <% end %>
</div>
<br/>
<br/>
<div class="display-members">
  <table class="table-members">
    <tr>
      <th>Miembro</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Rate</th>
      <th>Horas asignadas</th>
      <th>Comentario</th>
      <th>Acci&oacute;n</th>
    </tr>
    <% for @empleado in @empleados %>
      <tr>
        <td class="table-user-name" id="table-user-name"><%= @empleado.user %></td>
        <td class="table-start-date" id="table-start-date"><%= @empleado.start_date %></td>
        <td class="table-end-date" id="table-end-date"><%= @empleado.end_date %></td>
        <td class="table-hour-rate" id="table-hour-rate"><%= @empleado.hour_rate %></td>
        <td class="table-assigned-hours" id="table-assigned-hours"><%= @empleado.assigned_hours %></td>
        <td class="table-comment" id="table-comment"><%= @empleado.comment %></td>
        <td class="table-buttons" id="table-buttons">
          <button class="button-edit" id="button-edit">Edit</button>
          <span>
            <%= button_tag "Save", data: { confirm: "Are you sure?" } %>
          </span>
        </td>
      </tr>
    <% end %>
  </table>
</div>
