<div>
  <h2 class="title-manage-members">Manage members</h2>
</div>
<!-- Stylesheet -->
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'manage_members', :plugin => 'proforma', media: 'all' %>
<% end %>
<!-- Select box users -->
<div class="select-user">
  <%= form_with do %>
    <%= hidden_field_tag(:project_id, @project[:id]) %>
    <label class="label-users" for="users">Agregar nuevo miembro al proyecto:</label>
    <%= select_tag(:user_id, options_for_select(@users_map.sort)) %>
    <span> <%= button_tag "Add", :action => 'new_project_assigned_user', data: { confirm: "Agregar este usuario como miembro del proyecto?" }, 
    class: "button-add" %> </span>
  <% end %>
</div>
<br/>
<br/>
<div class="display-members">
  <table class="table-members">
    <tbody class="content-members">
      <thead>
        <tr>
          <th class="miembro">Miembro</th>
          <th class="fechainicio">Fecha Inicio</th>
          <th class="fechafin">Fecha Fin</th>
          <th class="rate">Rate</th>
          <th class="hours">Horas</th>
          <th class="comentario">Comentario</th>
          <th class="accion">Acci&oacute;n</th>
        </tr>
      </thead>
      <% for empleado in @project_active_members %>
        <tr class="row-data">
          <%= form_with(url: "proforma/update_project_assigned_user", method: "put") do %>
            <%= hidden_field_tag(:project_id, @project[:id]) %>
            <%= hidden_field_tag(:user_id, empleado.user.id) %>
            <td class="table-user-name">
              <input id="user" name="user" class="user" type="text" readonly value="<%= empleado.user %>">
            </td>
            <td class="table-start-date">
              <input id="start_date" name="start_date" class="start_date" type="date" readonly value="<%= empleado.start_date %>">
            </td>
            <td class="table-end-date">
              <input id="end_date" name="end_date" class="end_date" type="date" readonly value="<%= empleado.end_date %>">
            </td>
            <td class="table-hour-rate">
              <input id="hour_rate" name="hour_rate" class="hour_rate" type="number" readonly value="<%= empleado.hour_rate %>">
            </td>
            <td class="table-assigned-hours">
              <input id="assigned_hours" name="assigned_hours" class="assigned_hours" type="number" readonly value="<%= empleado.assigned_hours %>">
            </td>
            <td class="table-comment">
              <input id="comment" name="comment" class="comment-members" type="text" readonly value="<%= empleado.comment %>">
            </td>
            <td class="table-buttons">
              <span>
                <button class="button-edit">Edit</button>
                <%= button_tag "Save", data: { confirm: "Desea guardar los cambios realizados?" }, class: "button-save" %>
                <%= button_tag "Cancel", class: "button-cancel" %>
                <%= button_tag "Delete", data: { confirm: "Desea eliminar este miembro del proyecto?" }, class: "button-delete" %>
              </span>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <div class="table-footer">
    Miembros de <%= @project %>
  </div>
</div>
<br/>
<br/>
<br/>
<div>
  <h2 class="title-manage-members">Historial de miembros del proyecto</h2>
</div>
<div class="show-historic-table">
  <button class="button-show-historic-table">Mostrar</button>
  <button class="button-hide-historic-table">Ocultar</button>
</div>
<br/>
<div class="historic-members">
  <table class="table-historic-members">
    <tbody>
      <thead>
        <tr>
          <th class="historic-member">Miembros</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
        </tr>
      </thead>
      <% for empleado in @all_project_members %>
        <tr>
          <td class="historic-user-name"><%= empleado.user %></td>
          <td class="historic-start-date"><%= empleado.start_date %></td>
          <td class="historic-end-date"><%= empleado.end_date %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <!-- Manejo del contenido editable de la tabla -->
  <script type="text/javascript">
    $(document).find('.button-cancel').hide();
    $(document).find('.button-delete').hide();
    $(document).find('.button-save').hide();
    
    
    //TODO Actualmente se elimina correctamente de la tabla, pero falta eliminarlo de la BD (NO HACER POR AHORA)
    $(document).on('click', '.button-delete', function () {
      $(this).parents('tr').remove();
    })
    
    
    $(document).on('click', '.button-edit', function (event) {
      event.preventDefault();
      var tr = $(this).closest('tr');
      var inputs = tr.find('input');
    
      inputs.each(function (index, val) {
        $(this).attr('original-entry', $(this).val());
      });
    
      tr.css("background-color", "#f0f0f0");
      tr.find('input').css("border", "1px solid #862a5c").css("background-color", "white");
      tr.find('.user').css("background-color", "transparent").css("border", "none");
    
      tr.find('.button-cancel').show();
      tr.find('.button-delete').show();
      tr.find('.button-save').show();
      tr.find('.button-edit').hide();
    
      tr.find('.start_date').removeAttr("readonly");
      tr.find('.end_date').removeAttr("readonly");
      tr.find('.hour_rate').removeAttr("readonly");
      tr.find('.assigned_hours').removeAttr("readonly");
      tr.find('.comment-members').removeAttr("readonly");
    
      $(this).focus();
    })
    
    
    $(document).on('click', '.button-cancel', function (event) {
      event.preventDefault();
      var tr = $(this).closest('tr');
      var original_inputs = tr.find('input');
    
      original_inputs.each(function (index, val) {
        $(this).val( $(this).attr('original-entry') );
      });
    
      tr.css("background-color", "#f9f9f9");
      tr.find('input').css("border", "none").css("background-color", "transparent");
    
      tr.find('.button-cancel').hide();
      tr.find('.button-delete').hide();
      tr.find('.button-save').hide();
      tr.find('.button-edit').show();
    
      tr.find('.start_date').attr("readonly", true);
      tr.find('.end_date').attr("readonly", true);
      tr.find('.hour_rate').attr("readonly", true);
      tr.find('.assigned_hours').attr("readonly", true);
      tr.find('.comment-members').attr("readonly", true);
    
      $(this).focus();
    });
    
    
    
    // Manejo de tabla historial de miembros
    $(document).find('.table-historic-members').hide();
    $(document).find('.button-hide-historic-table').hide();
    
    $(document).on('click', '.button-show-historic-table', function (event) {
      event.preventDefault();
      $(document).find('.table-historic-members').show();
      $(document).find('.button-hide-historic-table').show();
      $(document).find('.button-show-historic-table').hide();
    });
    
    $(document).on('click', '.button-hide-historic-table', function (event) {
      event.preventDefault();
      $(document).find('.table-historic-members').hide();
      $(document).find('.button-hide-historic-table').hide();
      $(document).find('.button-show-historic-table').show();
    });
  </script>
