<table>
  <tbody>
    <tr>
      <th>Feriados</th>
      <td>
        <label for="datepicker"></label>
        <input type="text" id="datepicker">
        <input type="hidden" id="feriados"/>
      </td>
    </tr>
    <tr>
      <th>Bloquear proformas hasta
      </th>
      <td>
        <hr/>
      </td>
    </tr>
    <% Project.all.each do |p| %>
      <tr>
        <th>
          <%= p.name %>
        </th>
        <td>
          <input type="text" name="pickers" value="<%= settings['block_'+ p.id.to_s+''] %>" id="<%= p.id.to_s %>"/>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% string = 'feriados' %>
<script>
  var $name = $('[name=pickers]');
  $name.datepicker({dateFormat:'yy-mm-dd'});
  $.each($name, function (i, l) {
      l.name = "settings[block_" + l.id + "]";
  });
  var dates = [];
  <% split_settings = settings[string] ? settings[string].split(',') : [] %>
  <%split_settings.each do |a| %>
  dates.push('<%= a %>');
  <% end %>
  
  
  
  var $feriados = $("#feriados");
  $feriados.attr("name", "settings[feriados]");
  $feriados.val('<%=settings[string] %>');
  
  $("#datepicker").datepicker(getOptionsForDatepicker());
  
  function addDate(date) {
      if (jQuery.inArray(date, dates) < 0)
          dates.push(date);
  }
  
  function removeDate(index) {
      dates.splice(index, 1);
  }
  
  // Adds a date if we don't have it yet, else remove it
  function addOrRemoveDate(date) {
      var index = jQuery.inArray(date, dates);
      if (index >= 0)
          removeDate(index);
      else
          addDate(date);
  }
  
  // Takes a 1-digit number and inserts a zero before it
  function padNumber(number) {
      var ret = String(number);
      if (ret.length == 1)
          ret = "0" + ret;
      return ret;
  }
  
  
  
  
  function getOptionsForDatepicker() {
      var currentTime = new Date();
      var currentYear = currentTime.getFullYear();
      return {
          onSelect: function (dateText) {
              addOrRemoveDate(dateText);
              $(this).data('datepicker').inline = true;
              $("#feriados").val(dates);
          },
          onClose: function () {
              $(this).data('datepicker').inline = false;
          },
          beforeShowDay: function (date) {
              var year = date.getFullYear();
              // months and days are inserted into the array in the form, e.g "01/01/2009", but here the format is "1/1/2009"
              var month = padNumber(date.getMonth() + 1);
              var day = padNumber(date.getDate());
              // This depends on the datepicker's date format
              var dateString = year + '-' + month + "-" + day;
  
              var gotDate = jQuery.inArray(dateString, dates);
              if (gotDate >= 0) {
                  // Enable date so it can be deselected. Set style to be highlighted
                  return [true, "ui-state-highlight"];
              }
              // Dates not in the array are left enabled, but with no extra style
              return [true, ""];
          },
          dateFormat: "yy-mm-dd",
          maxDate: new Date(currentYear, 11,31), //Datepicker
          minDate: new Date(2015, 0,1),
          numberOfMonths: [1, 3]
      };
  }
</script>
